<%page expression_filter="h" />
<%! from django.utils.translation import ugettext as _ %>
    <%inherit file="../main.html" />

    <%block name="pagetitle">${_("Contact")}</%block>

    <div class="contact">
        <h1>Get in touch</h1>
        
        <p><span class="icon fa fa-map-marker"></span>Khartoum, Alriyadh, Mashtal St.</p>
        <p><span class="icon fa fa-envelope"></span><a>info@civilscope.org</a></p>
        <p><span class="icon fa fa-phone"></span>+249-99-724-7082</p>
    </div>